* {
    /* Reset to override the user-agent stylesheet */
    margin: 0;
    padding: 0;
}

/* Google Roboto font */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: roboto, Arial, Helvetica;
    /* stretch to the height of viewport */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.main-contents {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: yellow;
}

.top-nav-bar-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    /* Ensure links aren't the default blue color */
    color: inherit;
}

.top-nav-bar-links {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding: 16px;
    gap: 32px;
}

.intro-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 75px;
    gap: 45px;
    /* Prevent image from spilling out of container */
    overflow: hidden;
}

.intro-contents {
    flex-shrink: 0;
}

.main-hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.main-hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.first-sign-up-button {
    background-color: #3882F6;
    font-size: 20px;
    font-weight: bold;
    color: #e5e7eb;
    text-align: center;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
    cursor:pointer;
}

.food-content-container ,.call-to-action-container {
    background-color: white;
}

.foods-statement {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding-top: 30px;
}

.foods {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 75px;
    gap: 45px;
    flex-wrap: wrap;
}

.food-image {
    border: 8px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.food-name {
    text-align: center;
    color: #6e6e6f;
    font-size: 18px;
}

.quote-container {
    background-color:#e5e7eb;
    padding: 125px 50px;
    display: flex;
    justify-content: center;
}

.nested-quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300px;
    color: #1F2937;
    align-self: flex-start;
    margin-bottom: 8px;
}

.quote-source {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    align-self: flex-end;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* This fixed the issue where there was a gap between this container and the footer */
    flex: 1;
    background-color: green;
}

.call-to-action-box {
    display: flex;
    align-items: center;
    flex-basis: 600px;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 75px 250px;
    border-radius: 8px;
    flex-wrap: wrap;
    /* Prevent panel from spilling out of container */
    overflow: hidden;
}

.call-to-action-text-box {
    display: flex;
}

.call-to-action-intro {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}

.call-to-action-body {
    color: #e5e7eb;
    font-size: 20px;
    margin-bottom: 8px;
}

.second-sign-up-button {
    background-color: #3882F6;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 8px 24px;
    border: solid;
    border-color: white;
    border-width: medium;
    cursor:pointer;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 45px 90px;
}

.copyright-message {
    color: #e5e7eb;
    font-size: 20px;
}